*{
    margin: 5px;
    padding: 10px;
}

h1{
    color: white;
    align-items: center;
    text-align: center;
    font-size: 40px;
    font-family: Arial;
    margin: 5px;
    padding: 5px;
}
h2{
    color: white;

   margin: 10px;
    font-size: 30px;
    font-family: Arial;
    background-color: rgb(3, 3, 53);
}
h3{
    color: white;
   
margin: 10px;
    font-size: 30px;
    font-family: Arial; 
    background-color: rgb(3, 3, 53);

}

.produto, .produto1 {
    
    padding: 5px;
    display: grid;
    position: relative;
    gap: 5px;
   
    
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    justify-content: center;

}
p{
    font-family: Arial;
    font-size: 16px;
    color: whitesmoke;
    
}
footer{
    align-items: center;
    font-family: Arial;
    text-align: center;
    margin: 40px;
    color: white;

}
 .textarea{
    border-radius: 10px;
 }

 img {
    mix-blend-mode: multiply;
    margin: auto;
    display: block;
    width: 20%;
    
 }